<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/nltk.css"/>

</head>
<body>

<div class="app">

    <div class="menubar">
        <div class="btn menu glyphicon glyphicon-play" onclick="test()"></div>
    </div>
    <div class="content">
        <div class="origin">
            <div class="header">Origin Text</div>
            <div class="content">
                <textarea></textarea>
            </div>

        </div>
        <div class="analysis">
            <div class="header">Structured Text</div>
            <div class="content"></div>
        </div>
    </div>

</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script>

    function test(){
        var text = $('.content > textarea')[0].value;

        $.ajax({
            url: 'http://127.0.0.1:8000/hello2?test=test',
            method: 'GET',
            success: function(data){
                alert(data);
            }
        });
        console.log(text);
    }

    var analysisArea = $('.analysis > .content')[0];
    var html = '';
    for(var i=0 ; i<list.length ; i++){
        var word = list[i];
        html += '<span class="'+word[1].toLowerCase()+'">'+word[0]+'</span> ';
    }
    analysisArea.innerHTML = html;
    console.log(html);
</script>

</body>
</html>